

<nav class="navbar">
    <div class="logo">
        <a href="/">E-Shop</a>
    </div>
    <ul class="nav-links">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active"> Products</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li> 
    </ul>
    <div class="cart-profile">
        <a routerLink="/cart" routerLinkActive="active"  class="cart-icon"> <img src="assets/img/cart.png" height="25px" width="25px" alt="shopping cart"/> </a>
        <a href="/profile" class="profile-icon">Profile</a>
    </div>
</nav>
