
<div class="title">
    <h1>E-Shop</h1>
    <p>to pass your order you must log in first..</p>
</div>

<div class="container">
    <h1>Login</h1>
    <form action="login.php" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username here" required>
        <br>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="Enter your email here" required>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password here" required>
        <br>
        <input type="submit" name="Login" value="Login">
    </form>
    <br><br>
    <div class="centered">
        if you don't have an account, <br>
        <a class="already" href="sign_up.php"><b>Create an account</b></a>
    </div>
</div>
    