<div class="title">
    <h1>E-Shop</h1>
    <p>Make your own account in order to log in..</p>
</div>

<div class="container">
    <h1>Register</h1>
    <form action="sign_up.php" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username here" required>
        <br>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="Enter your email here" required>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password here" required>
        <br>
        <input type="submit" name="sign-up" value="sign up">
    </form>
    
</div>