

<div>
    <h1> Our products</h1>
</div>
<div class="product-grid">
    @if(!isLoading && products.length > 0){
        @for(prod of products; track prod){
            <div class="product-card">
                <img src="{{prod.imageUrl}}" alt="Product {{prod.idProduct}}">
                <h3>{{prod.nameProduct}}</h3>
                <p>${{prod.priceProduct}}</p>
                <button>Add to Cart</button>
            </div>
        } @empty {
            there is nothing here
        }
    }
    
</div>



    



